#corFundo {
  background-color: #9CF6F6;
  }
#topo{
   font-family: fantasy;
  }

  #topo1{
    text-align: center;
    font-family: fantasy;
    
    }
.lista{  
  font-size: 17px;
  text-transform: uppercase;
  margin-left: 950px;   
}
li {
  padding: 5px;
}

.destaque{
  font-weight: 600;
}
#listaFerramentasELinguagens{
  background-color: aliceblue;
}
.sobre{
  background-color: rgb(109, 209, 209);
}


    