#corFundo {
  background-color: #9CF6F6;
  }
#topo{
  text-align: center;
  font-family: fantasy;
}
#menu{
  display: inline;
  float: right;
}
#lista{
  background-color: darkcyan;
  font-size: 17px ;
}
.detaque{
  font-weight: 600;
}
#listaFerramentasELinguagens{
  background-color: aliceblue;
}


    